// COLORS
$gorko-colors: (
    'light': hsla(39, 27%, 79%, 0.99), // njk includes
    'teal': hsla(107, 6%, 54%, 0.99), // js exports
    'cool': hsla(0, 0%, 34%, 0.99), // highlight
    'cool-glare': hsla(334, 7%, 45%, 0.99), // text
    'cool-shade': hsla(285, 10%, 8%, 0.99), // bg
    'warm': hsla(29, 31%, 50%, 0.99), // js var names
    'warm-glare': hsla(46, 59%, 81%, 0.99), // js params
    'warm-shade': hsla(15, 38%, 48%, 0.99), // reserve words
);

$light-colors: (
    'text': map-get($map: $gorko-colors, $key: 'cool-shade'),
    'text-highlight': map-get($map: $gorko-colors, $key: 'warm-glare'),
    'bg': map-get($map: $gorko-colors, $key: 'light'),
    'bg-highlight': map-get($map: $gorko-colors, $key: 'warm-shade'),
    'link': map-get($map: $gorko-colors, $key: 'warm-shade'),
    'link-hover': map-get($map: $gorko-colors, $key: 'teal'),
    'link-active': map-get($map: $gorko-colors, $key: 'cool'),
    'link-visited': map-get($map: $gorko-colors, $key: 'cool-shade'),
    'btn': map-get($map: $gorko-colors, $key: 'warm-shade')
);

// Not all entries necessary as these colors will override $light-colors
$dark-colors: (
    'text': map-get($map: $gorko-colors, $key: 'light'),
    'text-highlight': map-get($map: $gorko-colors, $key: 'cool-shade'),
    'bg': map-get($map: $gorko-colors, $key: 'cool-shade'),
    'bg-highlight': map-get($map: $gorko-colors, $key: 'cool-glare'),
    'link': map-get($map: $gorko-colors, $key: 'warm-shade'),
    'link-hover': map-get($map: $gorko-colors, $key: 'warm-glare'),
    'link-active': map-get($map: $gorko-colors, $key: 'teal'),
    'link-visited': map-get($map: $gorko-colors, $key: 'light'),
);

// BREAKPOINTS
$breakpoints: (
    'sm': '(max-width: 48rem)',
    'md': '(min-width: 48rem)', // 768px
    'lg': '(min-width: 64rem)', // 1024px
    'xl': '(min-width: 75rem)'  // 1200px
);

// SIZING
$_ratio: 1.618034;

// SIZING - SPACING
$_base-space: 1em;
$_space-md: $_base-space * $_ratio;

$spacing: (
    'md': $_space-md
);

// SIZING - TEXT
$_base-text: 1rem;

$measures: (
    'body': 70ch,
    'headings': 30ch
);

$weights: (
    'thin': '100',
    'normal': '400',
    'bold': '700',
    'black': '900'
);