@use 'utilities';

* {
    @include utilities.apply-utility('measure', 'body');
    max-inline-size: var(--measure);
}

html,
body,
div,
main,
article,
section,
header,
footer,
main,
nav,
form,
aside {
    max-inline-size: none;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

::selection {
    background-color: var(--color-bg-highlight);
    color: var(--color-text-highlight);
}

a {
    text-decoration: none;
    color: var(--color-link);
    border-bottom: 1.5px solid var(--color-link);

    &:visited {
        border-bottom-color: var(--color-link-visited);
        color: var(--color-link-visited);
    }

    &:focus,
    &:hover {
        color: var(--color-link-hover);
        border-bottom-color: var(--color-link-hover);
    }

    &:active {
        color: var(--color-link-active);
        border-bottom-color: var(--color-link-active);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include utilities.apply-utility('measure', 'headings');

    font-weight: utilities.get-utility-value('font-weight', 'normal');
    font-size: 2.5em;
    max-inline-size: var(--measure);
}

main:focus {
    outline: none;
}