@use 'utilities/square';

.theme-toggle {
    // OVERRIDES
    // --transition-hover-out-duration
    // --transition-hover-in-duration

    width: 2rem; // TODO: Make adjustable by custom property
    border: none;
    padding: unset; // Prop applied to <button> with default padding
    cursor: pointer;

    transition: var(--transition-hover-out-duration, 200ms) ease;
    background-color: var(--color-text);

    &:hover,
    &:focus {
        transition: var(--transition-hover-in-duration, 100ms);
        border-radius: 50%;
    }

    &:active {
        transform: scale(0.7);
    }
}