@use 'utilities/square';

.theme-toggle {
    // OVERRIDES
    // --transition-hover-out-duration
    // --transition-hover-in-duration

    border: none;
    padding: unset; // Prop applied to <button> with default padding
    cursor: pointer;

    transition: var(--transition-hover-out-duration, 100ms) ease;
    background-color: var(--color-text);
    width: var(--spacing-base);

    &:hover,
    &:focus {
        transition: var(--transition-hover-in-duration, 100ms);
        transform: scale(1.3);
    }

    &:active {
        transform: scale(0.7);
        border-radius: 50%;
    }
}